## Project Part 1: Introduction to Pandas

*Name*: Enter here

In this assignment, we will start the semester-long project where you will clean, analyze, and visualize a dataset of your choosing. Before we get started with any of analysis and computation, it's a good idea to get acquainted with the data you're working with. Here, we will use the Python tools you've learned so far to do exactly that.

In [1]:
# Run this cell
import pandas as pd
import numpy as np

The following are some keyboard shortcuts you might find useful in Jupyter.


- `shift` + `enter`: run current cell (move cursor to next cell)
- `ctrl` + `enter`: run current cell
- `esc` + `h`: access keyboard shortcuts
- `esc` + `p`: access commands
- `esc` + `m`: change cell to 'Markdown'
- `esc` + `y`: change cell to 'Code'
- `esc` + `a`: insert code cell above
- `esc` + `b`: insert code cell below

### Loading your Dataset

By now, you should have your dataset from the internet. It will likely be in the form of a csv, tsv, or JSON file type. If it isn't one of these, contact a TA. The next cells will show you how to bring your dataset into the notebook as a Pandas DataFrame. **Only fill in the cell that corresponds to your file's type.**

In [22]:
# Fill in the next line if your file is a CSV
df = pd.read_csv('your_file_name_here')
df

In [ ]:
#Fill in the next line if your file is a TSV
df = pd.read_tsv('your_file_name_here')
df

In [ ]:
#Fill in the next line if your file is a JSON
df = pd.read_json('your_file_name_here')
df

In [11]:
# How many rows are in your dataset?

In [12]:
# How many columns are in your dataset?

### Let's Look at Some Values

Let's use some pandas methods to start inspecting our dataset. Let's just look at the top and bottom 5 rows of our dataset.

In [8]:
# Return the top 5 rows

In [7]:
# Return the bottom 5 rows

We also want to know what all our columns are called, since we will be using them throughout this entire project.

In [6]:
# Return a list of all the column names in your dataframe
columns = ...
columns

Sometimes dataset columns are labeled poorly. Are there any columns you'd like to rename? Do that below.

In [ ]:
# Optional: rename columns. Just run this cell if there are no columns to rename.
df = ...

Are there any irrelevant or useless columns in your dataset? Drop them if needed.

In [17]:
# Optional: drop columns. Just run this cell if there are no columns to drop.
# CAUTION: Once dropped, a column can NOT be retrieved; always think carefully before deleting data
df = ...

It's also a good idea to find some minimum and maximum values within your data. You can do this however you'd like, but we recommend sorting your dataframe and returning the top 10 values.

In [ ]:
# Return a DataFrame consisting of 10 rows, with the highest value from a given column being the top row.
# In other words, sort your Dataframe by the highest values in a given column. Return the top 10 rows

sorted_max = ...
sorted_max

In [ ]:
# Return a DataFrame consisting of 10 rows, with the highest value from a given column being the top row.
# In other words, sort your Dataframe by the lowest values in a given column. Return the top 10 rows

sorted_min = ...
sorted_min

We can count the number of occurences of each value of a Series using the value_counts() method. Try it on a few columns below. Remember, you can only call this on a Series.

In [13]:
# Try using value_counts on a few columns

In [14]:
# Try using value_counts on a few columns

**What do these series tell you about your data? Are there any significant values? Values that occur often? Explain what they mean below.**

*TYPE ANSWER HERE*

### NaN Values

With large datasets, it is incredibly common to have missing, or NaN values. You can choose to remove rows with missing data or impute a value of your choosing. Again, think carefully before deleting data

In [23]:
df.fillna(...), df.dropna(...)

### Indexing Practice

Try your hand at locating some rows and columns using loc and iloc, as mentioned in lecture.

In [ ]:
# Using the loc function, return the data frame into a smaller data frame which includes the values 
# for the first 3 rows in the first column.

df3 = df = df.loc(...)

#Next, cut down the data frame into a SERIES which includes the value for the first row in the same column.

s = df.loc(...)

df3, s

In [ ]:
# Using the iloc function return a smaller data frame which includes the values for the first 3 rows in any two columns. 
# Use slicing for your arguments to the loc function, not lists.

df.iloc(...)

### Groupby Practice

Groupby is often used to conslidate values within a specific column to aid in identifying new relationships between variables. In this section, you will use groupby to learn new relationships within your dataset.

*Note: Groupby dataframes can be aggregated by mean, sum, or pass in a function of your own.*

In [ ]:
#Use the groupby function to return a dataframe grouped by a key column 
#Note: Ensure doing so will draw meaningful insights

grouped_df = ...

grouped_df

**Why did you choose to group by this column? How do you believe this group by will help you with further analysis?**

*TYPE ANSWER HERE*

In [1]:
#Optional: Groupby other columns in your dataframe

grouped2_df = ...

grouped2_df

Ellipsis

In [ ]:
#Optional: Groupby other columns in your dataframe

grouped3_df = ...

grouped3_df

### Pivot Practice

Pivot tables are used to summarize, sort, and group data relevant to two different variables. Use this section to zone in on a relationship between two variables in your dataset. 

While groupby is often used to summarize values within a specific column(s), pivot is advantageous in summarizing your dataset in relation to two specific variables. 

*Note: Pivot tables can be aggregated by mean, sum, or pass in a function of your own.*

In [ ]:
#Choose two variables to pivot and create a new dataframe using the
#pivot function. 

pivot_df = ...

pivot_df

**Why did you choose these two variables to create a pivot dataframe? What new insights have you drawn about the relationship between the two by using pivot?**

*TYPE ANSWER HERE*

In [ ]:
#Optional: Pivot other columns in your dataframe

pivot2_df = ...

pivot2_df

In [3]:
#Optional: Pivot other columns dataframe

pivot3_df = ...

pivot3_df

Ellipsis

That's it for this assignment! Congrats on completing the first part of the project!

*Feel free to use the cells below to apply more functions to your dataframe to learn more about your dataset!*